{{~station.routes :route}}
<div class="route">
	<h2>{{=route.name}}</h2>

	{{~route.directions :direction}}
	<div class="direction">
		<h3>{{=direction.name}}</h3>
		<ol class="times">
			{{~direction.times :time}}
			<li class="{{ out += station.relativeTime(time); }}">{{=time}}</li>
			{{~}}
		</ol>
	</div>
	{{~}}
</div>
{{~}}

