footer.page-footer(role='contentinfo')
	// TODO: footer: credits
block scripts
	script(data-main='/js/main.js', src='/js/lib/require.js')
	// TODO: analytics
	script
		var AM = {
			version: '!{version}'
		};