meta(charset='utf-8')
title= title
//- meta(name='description', content=description)
meta(name='author', content='Mike Cravey')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
//- meta(name='keywords', content=keywords)
meta(name='HandheldFriendly', content='True')
meta(name='MobileOptimized', content='320')
meta(name='viewport', content='width=device-width')
//- link(rel='canonical', content='http://metro.craveytrain.com/#{id}/')
link(rel='author', href='http://craveytrain.com', title='About the author')
link(rel='home', href='/', title='Home')
block stylesheet
	link(rel='stylesheet', href='/css/style.css')
// Welcome to the source code. Enjoy yourself. Questions, concerns, comments, @craveytrain me.
