doctype 5
html.no-js(lang='en', dir='ltr')
	head
		include includes/head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block header
		section.main(role='main')
			block content
		include includes/footer
