doctype 5
//- html.no-js(lang='en', dir='ltr', manifest='/manifest.appcache')
html.no-js(lang='en', dir='ltr')
	head
		include includes/head
	body
		block header
		section.main(role='main')
			block content
		include includes/footer
