extends layout

block content
	h1.station-name= station.name
	each route in station.routes
		div.route
			h2= route.name
			div.route-times
				each dir in route.directions
					div.direction
						h3= dir.name
						ol.times
							each time in dir.times
								li= time
