extends layout

block content
	h1.station-name= station.name
	each route in station.routes
		div.route
			section#next-time.layer
				h2= route.name
				div.direction
					h3 North
					p 5:50
				div.direction
					h3 South
					p 15:50
			section#route-times.layer
				each dir in route.directions
					div.direction
						h3= dir.name
						ol.times
							each time in dir.times
								li= time
