$sans = HelveticaNeue, Helvetica, Arial, sans-serif
$serif = Cambria, Georgia, serif
$mono = Consolas, "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace

$font-size = 1em /* 16px */
$line-height = 1.5 /* 24px */

$h1-font-size = 3em /* 48px */
$h1-line-height = $line-height /* 72px */
$h1-margins = 0

$h2-font-size = 2em /* 24px */
$h2-line-height = 2 /* 24px */
$h2-margins = 0

$h3-font-size = $font-size /* 16px */
$h3-line-height = $line-height /* 24px */
$h3-margins = .5em 0 /* 12px 0 */

$h4-font-size = $font-size /* 16px */
$h4-line-height = $line-height /* 24px */
$h4-margins = 0


$text-color = rgb(255,255,255)
$text-color-secondary = rgb(146,146,146)
$bg-color = rgb(164,5,22)

$link-color = #00e
$link-visited-color = #551a8b
$link-hover-color = #06e

$selection-color = #fff
$selection-bg = #fe57a1