/* ==|== primary styles =====================================================
Author: Mike Cravey
========================================================================== */
body {
	text-transform: uppercase;
	width: 18em;
	margin: 2em auto;
}

#logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(164, 5, 22);
	font-size: 1.25em;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	color: #000;
}

#logo span {
	font-style: italic;
	color: #fff;
}

h1 {
	font-size: 2em;
	color: #aaa;
}

.route {
	overflow: hidden;
	margin: 2em 0;
}

.route h1 {
	color: #444;
	font-size: 2em;
}

.route time {
	font-size: 4em;
	display: block;
	line-height: 1;
	color: #222;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
}

.past .route time {
	color: #aaa;
}

.route .relative {
	display: block;
	margin-top: -.5em;
	color: #aaa;
}

.past .route .relative {
	color: rgb(164, 5, 22);
}

.route nav {
	margin-top: 1em;
}

.route nav ol {
	list-style: none;
	margin-left: 0;
}

.route nav li {
	display: block;
	float: left;
	width: 3em;
	margin-left: .55em;
	line-height: 2em;
	text-align: center;
	border: 1px solid #ddd;
	box-shadow: 10px 10px 5px #888;
}

.route nav li:first-child {
	margin-left: 0;
}

.route nav .selected {
	background: rgb(164, 5, 22);
	color: #fff;
	border-color: rgb(164, 5, 22);
}