html, body {
	height: 100%;
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	margin: $h1-margins;
}

h2 {
	font-size: $h2-font-size;
	line-height: $h2-line-height;
	margin: $h2-margins;
	font-weight: normal;
}

h3 {
	font-size: $h3-font-size;
	line-height: $h3-line-height;
	margin: $h3-margins;
}

.no-trans {
	transition(none);
}

.layer {
	position: absolute;
	top: $h1-line-height * $h1-font-size;
	bottom: 0;
	left: 0;
	right: 0;
	transition(all .3s ease-out);
}

.main {
	height: 100%;
	width: 100%;
	text-align: center;
}

#next-time {
	background: $bg-color;
}

#route-times {
	background: $under-card-bg-color;
	color: $under-card-text-color;
	z-index: -1;
}

.direction {
	width: 50%;
	float: left;
}

.times {
	list-style: none;
	margin: 0;
	padding: 0;
}